<!-- change-habit.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= habit.getName() %></title>
</head>
<body>
    <a href="/"></a>
    <h1><%= habit.getName() %></h1>
    <!-- List Dashboards -->
    <p>Longest Streak: <%= habit.getLongestStreak() %></p>
    <p>Current Streak: <%= habit.getCurrentStreak() %></p>
    <ul>
        <% habit.getDays().forEach(day => { %>
            <li><%= day.getDay() %>: <%= day.getCompleted() %></li>
        <% }); %>
    </ul>
</body>
</html>
