<!-- home.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome <%= authUser.username %></h1>
    <p>These are your dashboards</p>
    <!-- List Dashboards -->
    <ul>
        <% userObj.getDashboards().forEach(dashboard => { %>
            <li>
                <a href="/<%= authUser.username %>/<%= dashboard.getName() %>"><%= dashboard.getName() %></a>
            </li>
        <% }); %>
        <li>
            <a href="/<%= authUser.username %>/dashboard/new">Create a New Dashboard</a>
        </li>
    </ul>

    <a href="/logout">Logout</a>
</body>
</html>
